{% extends 'base.html.twig' %}

{% block title %}MyRig! - Rig{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/instrumentForm.js') }}"></script>
{% endblock %}

{% block body %}
    <section class="card text-white bg-dark container-lg">
        <div class="card-body">
            <h2>Your rig</h2>
            {% if rig is not empty %}
                <div class="user-grid mb-5">
                    {% for instru in rig %}
                        <div class="user">
                            <picture>
                                <source srcset="/images/instruments/{{ instru.id }}.webp" type="image/webp">
                                <img src="/images/instruments/{{ instru.id }}.jpg" alt="{{ instru.model }}-avatar"
                                     class="user-avatar" loading="lazy"/>
                            </picture>
                            <a href="#" class="user-name text-light">{{ instru.brand.name ~ ' - ' ~ instru.model }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>You don't have any Instruments ... yet ! Want to add one ?</p>
            {% endif %}
            <form action="#" id="instrument-form">
                <label class="form-label" for="instrument-select">Select an existing instrument</label>
                <select class="form-select my-2" name="instrument-select" id="instrument-select">
                    {% if instruments is empty %}
                        <option value="none" disabled selected>There is no instrument ...</option>
                    {% else %}
                        {% for instrument in instruments %}
                            <option value="{{ instrument.id }}">{{ instrument.brand.name ~ ' - ' ~  instrument.model }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <button class="btn btn-primary mb-4" value="{{ app.user.id }}" id="add-instrument">Add this instrument
                </button>
            </form>
            <p class="my-3">Or you can create a new one :</p>
            <select class="form-select my-2" name="type-select" id="type-select">
                <option value="guitar">Guitar</option>
                <option value="piano">Piano</option>
            </select>
            <form action="#" id="brand-form">
                <label class="form-label" for="brand-select">Select an existing brand</label>
                <select class="form-select my-2" name="brand-select" id="brand-select">
                    {% if brands is empty %}
                        <option value="none" disabled selected>There is no brand ...</option>
                    {% else %}
                        <option value="none" selected>Not in the list ?</option>
                        {% for brand in brands %}
                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </form>
            <button class="btn btn-primary mb-4" id="add-brand">Add a new brand</button>
            <p id="must-select">You must select or add brand before ...</p>
        </div>
    </section>
{% endblock %}
