{% extends 'base.html.twig' %}

{% block title %}MyRig! - Admin{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/adminSelectUser.js') }}"></script>
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success container-lg">
            <buton type="button" class="btn-close" data-bs-dismiss="alert"></buton>
            {{ message }}
        </div>
    {% endfor %}
    <section class="card text-white bg-dark container-lg">
        <div class="card-body">
            <h2>Administration - Users</h2>
            <label class="form-label" for="user-select">Select the user to manage</label>
            <select class="form-select my-2" name="user-select" id="user-select">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}{% if 'ROLE_ADMIN' in user.getroles() %}{{ ' - ADMIN' }}{% endif %}</option>
                {% endfor %}
            </select>
            <button id="select-user-button" class="btn btn-primary mt-2">Edit this user</button>
        </div>
    </section>
{% endblock %}
